my-vue3-project/node_modules
my-vue3-project/babel.config.js
my-vue3-project/package-lock.json
my-vue3-project/src/assets/logo.png
my-vue3-project/public/favicon.ico
my-vue3-project/dist/favicon.ico
my-vue3-project/dist/index.html
my-vue3-project/dist/js/app.047b8b76.js
my-vue3-project/dist/css/app.b2d625b8.css
my-vue3-project/dist/js/app.047b8b76.js.map
my-vue3-project/dist/js/chunk-vendors.dd8ac776.js
my-vue3-project/dist/js/chunk-vendors.dd8ac776.js.map
